@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="nav-link text-dark">
            @User.Identity?.Name
        </div>        
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa-solid fa-right-from-bracket"></i> Odhlásit</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register"><i class="fa-solid fa-address-card"></i> Registrovat</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i> Přihlásit</a>
    </li>
}
</ul>
