<form asp-action="Index" method="get">
    <div class="form-actions">
        <div>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Jméno nebo příjmení" class="mb-1" />
            <input type="submit" value="Aplikovat filtr" class="btn btn-warning mb-1" />
            <a asp-action="Index" class="btn btn-danger mb-1">Smazat filtr</a>
        </div>
    </div>
</form>