@model PojisteniApp2.Models.Person

@{
    ViewData["Title"] = "Editace pojištěnce";
}
<form asp-action="Edit" enctype="multipart/form-data">
	<div class="row bg-dark bg-opacity-50 py-3 ps-4 pe-2 d-flex">
		<div class="col-auto text-white d-flex align-items-center">
			<h1>@ViewData["Title"]</h1>
		</div>
		<div class="col d-flex align-items-center justify-content-end">
			<button type="submit" class="btn btn-lg btn-primary"><i class="fa-solid fa-check"></i></button>
		</div>
	</div>
	<div class="row bg-light pt-2 pb-4 py-lg-4 px-3 px-md-5 mt-1">
		<input type="hidden" asp-for="PersonId" />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="col-12 col-lg-auto me-lg-4">
			<div class="form-group d-flex justify-content-center mt-lg-4">
				<img src="@ViewBag.ImageDataUrl" id="profile-img" class="img-fluid img-profile" />
			</div>
			<div class="form-group mt-1">
				<div class="d-flex justify-content-center">
					<input type="file" accept="image/*" id="choose-img" asp-for="ImageData" class="form-control" />
				</div>
				<input type="hidden" id="max-size-img" value="@ViewBag.ImageMaxSize" />
				<div class="text-center">
					<span asp-validation-for="ImageData" id="validation-text-img" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm">
			<div class="form-group mt-1">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group mt-1">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group mt-1">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group mt-1">
				<label asp-for="Phone" class="control-label"></label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
		</div>
		<div class="col-12 col-sm">
			<div class="form-group mt-1">
				<label asp-for="Street" class="control-label"></label>
				<input asp-for="Street" class="form-control" />
				<span asp-validation-for="Street" class="text-danger"></span>
			</div>
			<div class="form-group mt-1">
				<label asp-for="PostalCode" class="control-label"></label>
				<input asp-for="PostalCode" class="form-control" />
				<span asp-validation-for="PostalCode" class="text-danger"></span>
			</div>
			<div class="form-group mt-1">
				<label asp-for="City" class="control-label"></label>
				<input asp-for="City" class="form-control" />
				<span asp-validation-for="City" class="text-danger"></span>
			</div>
		</div>
	</div>
</form>

@* Image preview and size validation script *@
<script src="~/js/person-image.js" asp-append-version="true"></script>